<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>
<body>



<header class="center">
    <h1>Smart Parking System</h1>
</header>
<section id="main-section">
<div id="background-information">
    <div id="introduction">
        <h2>Introduction</h2>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>        
            
    </div>
    <div class="paragraph-container">
        <figure>
            <img src="{{ url_for('static',filename='arduino.jpg') }}" alt="Trulli">
            <!-- <figcaption>Arduino picture, link: https://unsplash.com/photos/fZB51omnY_Y</figcaption> -->
        </figure>
        <div class = "info">
            <h2>Sensors</h2>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>        
        </div>
    </div>
    <div class="paragraph-container">
        <div class = "info">
            <h2>Actuators</h2>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>        
        </div>
        <figure>
            <img src="{{ url_for('static',filename='servo.jpeg') }}" alt="Trulli">
            <!-- <figcaption>Arduino picture, link: https://unsplash.com/photos/fZB51omnY_Y</figcaption> -->
        </figure>

    </div>

    

<div id="data-visualization">
    <h2>Collected data</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>    
    <div id="customer-list">
        <table>
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Car model</th>
                    <th>Car plate</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customerList %}
                <tr>
                    <td>{{customer.CustomerID}}</td>
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.model}}</td>
                    <td>{{customer.plate}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          
    </div>
    <div class="chart-containter"> 
        <canvas id="lineChart" ></canvas>
    </div>
    <div class="chart-containter">
        <canvas id="barChart"></canvas>
    </div>



    


</div>
<script>
const xValues = [{{ ', '.join(entries.keys()) }}];
console.log(xValues);
const yValues = [{{ ', '.join(entries.values()) }}];
console.log(yValues);
new Chart("lineChart", {
  type: "line",
  data: {
    labels: xValues.reverse(),
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues.reverse()
    }]
  },
  options: {
    maintainAspectRatio: false,
    title : {
				display : true,
				text : 'The number of entries in the parking lots in the last 7 days'
			},
    legend: {display: false},
    
    scales: {
        yAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Number Of Entries'
      }
    }], 
    xAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Date'
      }
    }],

    
    },
    
  }
});

var months = "{{ ','.join(averagePerDay.keys()) }}";
months = months.split(',')
const values = [{{ ', '.join(averagePerDay.values()) }}];
console.log(months)
console.log(values)
new Chart("barChart", {
  type: "bar",
  data: {
    labels: months,
    datasets: [{
      data: values
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Average entries per Day"
    },
    maintainAspectRatio: false,

  }
});
</script>


<div id ="divid"></div>
<script type="text/javascript" charset="utf-8">
var socket = io.connect("localhost:8080");
socket.on('connect', function() {
    socket.send("connected");
});
var btn = $("<button>test</button>");
$("#divid").append(btn);
function openGate() {

    socket.send("open gate");

}
btn.on("click", openGate);
</script>
</section>
</body>
</html>